/*=======Notes=================================================================*/
/*Colors:
Green = #87c540
Orange = #f05423
.section_title White = #f2f2f2 (regular white seemed too harsh in contrast)
Dark Grey = #333
*/

/*=======General===============================================================*/

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

section {
    padding: 0;
    margin: 0;
    border: none;
}

.section_title {
    margin: 0;
    font: 3rem 'Fjalla One';
    padding: 1rem 1rem 0 1rem;
    color: #f2f2f2;
}

p {
    margin: 0;
    color: #fff;
    font: 400 1rem 'Montserrat', sans-serif;
}

/*=====Home (front page) Section============================================================*/

.home {
    height: 100%;
    background: url(../images/MintLeaves_Roofs_PatternBackground.svg) #f05423;
    background-size: cover;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -65%);
    width: 85%;
    max-width: 800px;
    max-height: 60%;
    }

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #333;
    transition: all .5s linear;
}

nav ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: .3em;
    margin: 0 .3em;
    color: #f2f2f2;
    text-transform: uppercase;
    font: 1.5rem 'Fjalla One', sans-serif;
}

body.hasHover nav a:hover li{
    border-bottom: .2em solid #f2f2f2;
    padding-bottom: .1em;
}

li.active {
    border-bottom: .2em solid #f2f2f2;
    padding-bottom: .1em;
}

.fixed {
    position: fixed;
    top: 0;
    height: 44px;
    z-index: 1;
/*    box-shadow: 0 0px 10px rgba(255,255,255,.2);*/
}

/*=====About Section=========================================================*/

.about {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background: #333;
    align-items: flex-start;
}

.about .section_title {
    color: #f2f2f2;
}

.about img {
    min-width: 0;
    flex: 1 1 470px;
    width: 100%;
    max-width: 750px;
/*    border: solid 2px red;*/
}

.about_info {
    padding-bottom: 1rem;
    flex: 1 1 300px;
}

.about p {
    padding: 1rem;
}

/*=====Menu Section==========================================================*/

.menu {
    background: #333;
    display: flex;
    flex-direction: column;
}

.menu .section_title {
    background: hsl(14.3, 87.2%, 53.9%);
    padding-top: .4rem;
}

.sub_menu_section {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #f2f2f2;
}

.sub_menu_section:last-of-type {
    border-bottom: none;
}

@media all and (max-width:671px){
    .sub_menu_section {
        border-bottom: none;
    }
}

.sub_menu_section:nth-child(2n+3){
    flex-direction: row-reverse;
}

.chaat_img {
    background: url('../images/sample_foods/Delhi_Chaat.jpg');
    background-position: 70% 40%;
}

.puri_img {
    background: url('../images/sample_foods/Puri.jpg');
    background-position: center 60%;
}

.paan_img {
    background: url('../images/sample_foods/Paan.jpg');
    background-position: center 80%;
}

.dishes_img {
    background: url('../images/sample_foods/Papdi_Chaat.jpg');
    background-position: center center;
}

.food_img {
    flex: 5 1 190px;
    min-height: 300px;
    background-size: cover;
}

.sub_menu {
    padding: 1rem 2rem 2rem;
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_menu_header {
    position: relative;
    margin-bottom: 1.8em;
    text-align: center;
}

.sub_menu_roof {
    width: 12rem;
}

.sub_menu_title {
    color: white;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font: 3em "Times New Roman", "Garamond", serif; 
}

.sub_menu_description {
    color: white;
    margin: 0;
    font: 1em 'Montserrat';
    position:absolute;
    bottom: -.7em;
    width: 100%;
    text-align: center;
    text-transform: lowercase;
}

.sub_menu_content {
    max-width: 550px;
}

.menu_item {
    color: white;
    margin: 0;
    font: bold 1.2rem 'Montserrat';
/*    text-transform: uppercase;*/
}

.menu p {
    font-size: .8rem;
    padding: .2em 0;
    margin-bottom: 1rem;
    text-transform: lowercase;
}

/*=====Find Us Section =======================================================*/

.findus {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    background: #f05423;
    height: calc(100% - 44px);
}

.findus_info {
    flex: 1 1 331px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.findus_info > * {
    display: flex;
    align-items: center;
}
.findus .section_title{
    margin-bottom: .5rem;
}
.findus img {
    margin-left: 2rem;
    height: 2.5rem;
}

.spacing_fix {
    margin-bottom: 1rem; /*increased spacing for last line in findus*/
}

.findus p {
    padding: .5em 1em;
}

.social_media_icon_bar {
    padding: .5rem 0;
    width: 100%;
    align-self: flex-end;
    margin-top: auto;
    background: #333;
    display: flex;
    align-items: flex-start;
}

.findus .map {
    flex: 15 1 500px;
    min-height: 285px;
}

/* Fix for social media icon hitboxes -------------------------------*/

.social_icon {
    margin-left: 2rem;
}
.social_icon img {
    margin-left: 0;
    display: block; /*removes space beneath*/
}

/* Hover effects ----------------------------------------------------*/

body.hasHover .findus_info > a:hover {
    background: rgba(255,255,255,.1)
}

.social_icon:hover {
    animation: wiggle .15s linear 2;
}

@keyframes wiggle {
    25% {
        transform: rotate(11deg);
    }
    75% {
        transform: rotate(-11deg);
    }
}
